body {
    margin: 20px;
    background-color:lightblue;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
    padding: .5rem;
}

.card {
    margin: auto;
    margin-bottom: 20px;
}

.titulo-pedidos {
    background-color: rgb(68, 170, 68);
    color: white; 
    padding: 10px 20px; 
    border-radius: 10px; 
    border: 2px solid black; 
    display: inline-block; 
    margin: 20px auto; 
    text-align: center; 
}

.container-titulo {
    text-align: center; 
}



.apartados {
    display: flex;
    width: 100%;
    min-height: 10rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.apartado-pedidos {
    padding: 1rem;
    border-radius: 1rem;
    border-color: black;
    border-style: solid;
    border-width: 0.2rem;
    width: 36rem;
    background-color: white;
}

.apartado-catalogo {
    padding: 1rem;
    border-radius: 1rem;
    border-color: black;
    border-style: solid;
    border-width: 0.2rem;
    width: 36rem;
    background-color: white;
}

.apartado-boton {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-hacer_pedido {
    background-color: bisque;
}

.boton-hacer_pedido:hover {
    background-color: rgb(255, 202, 138);
}

#campos-dinamicos {
    margin-top: 1rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    gap: 1rem; /* Espacio entre los elementos */
    border: 2px dashed #ccc;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    padding: 1rem; /* Espacio interno */
}

.mensaje-arrastrar {
    color: #888;
    font-style: italic;
    margin: 0;
    text-align: center; /* Centra el texto */
}

.campo-producto {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 100%; /* Ocupa todo el ancho disponible */
}